<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The future is here</h2>
                <hr class="light">
                <p class="text-faded">Boring 9-5's happen because complicated companies hire the wrong people for too long. As a member of the collective, you can work on short contracts while still receiving healthcare and other benefits.</p>
                <a href="#" class="btn btn-default btn-xl">Apply Now</a>
            </div>
        </div>
    </div>
</section>
