<header>
    <div class="header-content" ng-controller="headerCtrl">
        <div class="header-content-inner">
            <h1><strong ng-bind="currentName"></strong></h1>  <h1 ng-bind="headerText"></h1>
            <hr>
            <p>Don't just be a 9-5.</p>
            <h3>Help Build the Future</h3>
            <div class="callToActionButtons">
	            <a target="_blank" href="https://dan905338.typeform.com/to/EpWjrg" ng-click="click()" class="btn btn-primary btn-xl page-scroll a">I'm hiring</a>
	            <a target="_blank" href="https://alex516578.typeform.com/to/n85M9V" ng-click="click()" class="btn btn-primary btn-xl page-scroll b">I want a job</a>
	        </div>
        </div>
    </div>
</header>
