<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Looking to Hire?</h2>
                <p class="text-muted">Let our experts help you find the top talent.</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-car wow bounceIn text-primary"></i>
                    <h3>Machine Learning</h3>
                    <p class="text-muted">Hire top talent to build out that new feature. Good software is hard to find, but we know how to find it. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-link wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Blockchain</h3>
                    <p class="text-muted">When you're building a community, finding the right people is key. We help build great products by bringing great people together.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>FinTech</h3>
                    <p class="text-muted">Top talent can make or break an operation. Our experts can guide you through the process of hiring these candidates and making sure you find the right fit.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Partnerships</h3>
                    <p class="text-muted">Join our partners and hire top talent from around the world. Our members are proud to do their part towards progress.</p>
                </div>
            </div>
        </div>
    </div>
</section>
