header {
	background: black;
}	

.header-content-inner h1 {
	display: inline-block;
}

.header-content-inner strong {
	margin-right: 0.25em;
	color: #F05F40;
}
.portfolio-box {
    overflow: hidden;
    max-height: 227px;
}
a.btn.a {
    background-color: green !important;
    margin-right: 1em;

}
section {
    min-height: 80vh;
}
.header-content h3 {
    margin: 1em;
    font-size: 1.45em;
    text-transform: uppercase;
    font-weight: 600;
}
.service-box p.text-muted {
    text-align: justify;
    padding-left: 1.5em;
    padding-right: 1.5em;
}